/*ل تاج الها اتربيوت اسمها ستايل في ملف html و بقدر اعملها ستايل   */
/*يفضل ينحط بدايركتوري لحال */
/*مش بس سي اس اس للستايل */
p{
    color: deeppink;
    background-color: #eeeeee;
}
/*المش متعارض بتنفذ للكل المتعارض حسب اذا اللينك قبل او بعد الستايل اذا قبل بتنفذ اللينك اذا بعد بتنفذ الستايل */
/*يفضل يكون عندي أكثر من فايل سي اساس اشي لصور و اشي للفونت .... اسهل في الشفل */
/*
السيلليكتر:
* بنقدر نستعمل جينيرال سيليكتر
*/
p.aa{
    color: #c55ccd;
}
.ppp
{
    color: #c55ccd;
}
p.anothe{
    border: 1px yellow dotted;
}
p.a{
    color: maroon;
}
 .h{
     font-family: "Arial Rounded MT Bold";
 }/*جينيرال كلااس*/

p#p1{
    color: darkorange;
}
/*سيكشن اللي داخل الديف بس*/
 div p{
     color: darkmagenta;
 }
 /*داخل الديف مباشرة*/
div > p{
    color: navy;
}
/*هدول اسمهم باي بوزيشن بعتمد على الموقع */


div :nth-child(2n+1){
    background-color: lightgreen
}
/*العدد الفردي و الزوجي ببداه من كل كونتينار */